.card {
  margin-top: 1rem;
}

.my-form {
  background-color: #DDEEFF;
  margin-top: 1rem;
  padding: 1rem 1rem 0;
  border: 1px solid #5599FF;
  border-radius: 5px;
}

.state-0 {
  background-color: #FFAAAA;
  color: #990000;
}
.state-1 {
  background-color: #FFCCAA;
  color: #995500;
}
.state-2 {
  background-color: #AAFFAA;
  color: #009900;
}
