/* You can add global styles to this file, and also import other style files */
body {
  background: url(http://www.voyage-ile-maurice.info/ile-maurice-fond-ecran/images-photos-ile-maurice/ile-maurice-voyage-ile-maurice-wallpaper-fond-ecran-gratuit-7.jpg) no-repeat center fixed;
  background-size: cover;
  padding-bottom: 1rem;
}
