.card {
  margin-top: 1rem;
}

.state-0 {
  background-color: #FFAAAA;
  color: #990000;
}
.state-1 {
  background-color: #FFCCAA;
  color: #995500;
}
.state-2 {
  background-color: #AAFFAA;
  color: #009900;
}
